<div class="monacode-connections">
  <div class="monacode-u-clearfix monacode-title">
    <div class="monacode-helper monacode-network-icon">j</div>
    <div class="monacode-helper monacode-network-name">Connections</div>
  </div>
  <div class="monacode-u-clearfix monacode-helper monacode-connection-user"><img src="{{$ctrl.me.photo_urls.size_256x256}}" class="monacode-helper moancode-connections-common-img">
    <div class="monacode-helper monacode-connection-degree monacode-opacity">--</div>
    <div class="monacode-helper monacode-user-email">You are connected</div>
  </div>
  <div class="monacode-u-clearfix monacode-helper monacode-connection-user">
    <div class="monacode-helper monacode-connection-degree">1st</div><img src="images/img-small.jpg" class="monacode-helper moancode-connections-common-img">
    <div class="monacode-helper monacode-user-email">Dr. Sarah Müller</div>
  </div>
  <div class="monacode-u-clearfix monacode-helper monacode-connection-user">
    <div class="monacode-helper monacode-connection-degree">3rd</div><img src="{{$ctrl.user.image}}" class="monacode-helper moancode-connections-common-img">
    <div class="monacode-helper monacode-user-email">{{$ctrl.user.name}}</div>
  </div>
  <div class="monacode-helper moancode-connections-detail">Christin is in your second-degree network. Your shared connections include:</div>
</div>
