<!-- <monacode-network ng-repeat="network in $ctrl.networks" network="network"></monacode-network> -->
<div class="monacode-u-clearfix monacode-network">
  <div class="monacode-helper monacode-network-icon monacode-color-xing">!</div>
  <div class="monacode-helper monacode-network-name">Xing</div>
  <div class="monacode-helper monacode-network-connect monacode-btn-xing">Add</div>
</div>
<div class="monacode-u-clearfix monacode-network">
  <div class="monacode-helper monacode-network-icon monacode-color-twitter">4</div>
  <div class="monacode-helper monacode-network-name">Twitter</div>
  <div class="monacode-helper monacode-network-connect monacode-btn-twitter">Follow</div>
</div>
<div class="monacode-u-clearfix monacode-network">
  <div class="monacode-helper monacode-network-icon monacode-color-gplus">6</div>
  <div class="monacode-helper monacode-network-name">Google+</div>
  <div class="monacode-helper monacode-network-connect monacode-btn-gplus">connect</div>
</div>
