<div class="monacode-helper monacode-user-name">{{$ctrl.user.name}}</div>
<div class="monacode-u-clearfix monacode-container">
  <img src="{{$ctrl.user.imageurl}}" class="monacode-helper monacode-user-image">
  <div class="monacode-user-info-container"><div class="monacode-helper monacode-user-email">felix@</div>
    <div class="monacode-helper monacode-user-company">userlane.com</div>
    <div class="monacode-helper monacode-user-location">Munich Area, Germany</div>
  </div>
</div>
<div class="monacode-helper monacode-user-position">Entrepreneur | Tech Evangelist
  <span class="monacode-helper monacode-user-company"></span>
</div>
<div class="monacode-helper monacode-user-position">Cofounder &amp; Managing Director at
  <span class="monacode-helper monacode-user-company">userlane.com</span>
</div>
