<img width="220" src="images/xingcontent.png">
<div class="monacode-u-clearfix monacode-xing-btn-position">
  <div class="w-embed w-script">
    <script type="xing/login">
      { "consumer_key": "62ff642bb6f10e7aad33" }
    </script>
    <script>
      (function(d) {
        var js, id='lwx';
        if (d.getElementById(id)) return;
        js = d.createElement('script'); js.id = id; js.src = "https://www.xing-share.com/plugins/login.js";
        d.getElementsByTagName('head')[0].appendChild(js)
      }(document));
    </script>
  </div>
  <div class="monacode-helper monacode-xing-features monacode-first"><span class="monacode-helper monacode-btn-icon">w</span>&nbsp; Unlock all information</div>
  <div class="monacode-helper monacode-xing-features"><span class="monacode-helper monacode-btn-icon">w</span>&nbsp; Connect faster</div>
  <div class="monacode-helper monacode-xing-features"><span class="monacode-helper monacode-btn-icon">w</span>&nbsp; Save to your CRM</div>
</div>
