<div class="monacode-u-clearfix monacode-user">
  <div class="monacode-helper monacode-network-connect"><span class="monacode-helper monacode-btn-icon">&lt;</span>&nbsp;CRM</div>
  <div class="monacode-helper monacode-user-name">{{$ctrl.user.name}}</div>
  <div class="monacode-u-clearfix monacode-birthday">
    <div class="monacode-helper monacode-network-icon">g</div>
    <div class="monacode-helper monacode-network-name">Has Birthday today! {{$ctrl.user.birth_date}}</div>
  </div>
  <div class="monacode-u-clearfix monacode-wrapper"><img src="{{$ctrl.user.image}}" class="monacode-helper monacode-user-image">
    <div class="monacode-user-info-container">
      <div class="monacode-helper monacode-user-email">felix</div>
      <div class="monacode-helper monacode-user-company">@userlane.com</div>
      <div class="monacode-helper monacode-user-location">{{$ctrl.user.profile_message}}</div>
      <div class="monacode-helper monacode-user-position">{{$ctrl.user.company.title}} at <span class="monacode-helper monacode-user-company">{{$ctrl.user.company.name}}</span>
      </div>
    </div>
  </div>
</div>
<div class="monacode-notes">
  <div class="monacode-u-clearfix monacode-title">
    <div class="monacode-helper monacode-network-icon">k</div>
    <div class="monacode-helper monacode-network-name">Notes</div>
    <div class="monacode-helper monacode-state-saved" id="monacode-notes-saved" style="display:none;"><span class="monacode-helper monacode-btn-icon">w</span>&nbsp;Saved</div>
  </div>
   
  <div class="w-form">
    <form>
      <textarea id="monacode-notes-input" placeholder="My notes about {{$ctrl.user.name}}" class="w-input monacode-helper monacode-textarea"></textarea>
    </form>
  </div>
 <script>
var noteskeytimeout = undefined;
var notesinput = $('#monacode-notes-input');
notesinput.keypress(function() {
   if(noteskeytimeout) {
    clearTimeout(noteskeytimeout);
    noteskeytimeout = undefined;
  }
  $('#monacode-notes-saved').hide();
  noteskeytimeout = setTimeout(function() {
    console.log('showing SAVED badge for notes');
    //display 'saved'
    $('#monacode-notes-saved').fadeIn(500);
  },1000);
}
)
 
</script>
</div>
<div class="monacode-kununu">
  <div class="monacode-u-clearfix monacode-wrapper">
    <div class="monacode-kununu-container">
      <div class="monacode-helper monacode-kununu-company">{{$ctrl.user.company.name}}</div>
      <div class="monacode-helper moancode-connections-detail monacode-kununu-info">Dieses Unternehmen im Vergleich zu allen anderen Unternehmen auf kununu auf Basis von {{$ctrl.user.company.reviews}} Bewertungen</div>
    </div><img src="images/kununu-logo-black.png" class="monacode-helper monacode-kununu-logo">
    <div class="monacode-kununu-score">
      <div class="monacode-kununu-score-number">{{$ctrl.user.company.rating | number:1}}</div>
      <div class="monacode-kununu-rating">Max 5</div>
    </div>
  </div>
  <div class="monacode-u-clearfix monacode-kununu-rate">
    <div class="monacode-helper monacode-network-name">Worked there?</div>
    <div class="monacode-helper monacode-network-connect monacode-btn-kununu">Rate</div>
  </div>
</div>
<div class="monacode-u-clearfix monacode-location">
  <div class="monacode-helper monacode-network-icon">ä</div>
  <div class="monacode-helper monacode-network-name">Munich Area, Germany</div>
  <div class="monacode-u-clearfix monacode-weather">
    <div class="monacode-helper monacode-network-icon">.</div>
    <div class="monacode-helper monacode-network-name">Partly Cloudy, 18° C</div>
  </div>
</div>